# Données brutes et traitées — trop lourdes pour Git
data/

# Environnements Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Variables d'environnement
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/settings.json
.idea/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Python cache
ml/__pycache__/
backend/__pycache__/
